.widget_nav_menu a {
padding-left:0px!important;
} 
.categories {
list-style: none!important;
}
.archive-select {
width: 200px;
height: 30px;
position: relative;
top: 35px
}
.hentry {
    margin: -8px 0 1.5em;}

.left-sidebar {
top:-20px!important;
}

.post #post-392{
position:relative;
top: -5px;
}

.footer-content {
	position: relative;
    top: 29px;
    width: 100%;
}
.fb_iframe_widget {
	top: -6px!important;
}